[
   {rabbit, [
      {loopback_users, []},
      {vm_memory_high_watermark, 0.7},
      {vm_memory_high_watermark_paging_ratio, 0.8},
      {log_levels, [{channel, debug}, {connection, debug}, {federation, debug}, {mirroring, debug}]},
      {heartbeat, 10}
    ]},
    {rabbitmq_management, [
        {load_definitions, "/opt/definitions.json"}
    ]}
].